body{
    background-color: #1E2529;
}
#body-overlay{
    background: rgba(0, 0, 0, 0);
}
.employer{
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    margin-top: 2em;
}
.strategiesTitle, .employerTitle{
    color: var(--primary-color);
    font-size: 28px;
    font-family: "Roboto-Bold";
}
.employerCopy{
    color: #FFFFFF;
    font-family: "Roboto-Light";
    max-width: 70%;
    text-align: center;
    font-size: 24px;
}
#strategies{
    width: 80%;
    padding: 10px;
    justify-content: space-between;
}
#strategies .strategy:nth-child(even) {
    border: 2px solid #96979B;
    color: var(--primary-color);
}
#strategies .strategy:nth-child(odd) {
    border: 2px solid var(--primary-color);
    color: #FFFFFF;
}
.strategy{
    height: 195px;
    width: 180px;
    align-items: center;
    justify-content: center;
    font-family:"Roboto-Bold";
    font-size: 24px;
    border-radius: 20px;
}
.strategy div{
    width: 80%;
    text-align: center;
}
.socialHeader{
    background: none;
  }
.footerDiv{
    margin-top: 0;
}
.footer{
  color: var(--secondary-color);
}
.flex{
    display: flex;
}