@font-face {
    font-family: "Roboto-Thin";
    src: url("Roboto/Roboto-Thin.ttf") format("truetype");
  }

  @font-face {
    font-family: "Roboto-Black";
    src: url("Roboto/Roboto-Black.ttf") format("truetype");
  }

  @font-face {
    font-family: "Roboto-Light";
    src: url("Roboto/Roboto-Light.ttf") format("truetype");
  }
  @font-face {
    font-family: "Roboto-Medium";
    src: url("Roboto/Roboto-Medium.ttf") format("truetype");
  }
  @font-face {
    font-family: "Roboto-Regular";
    src: url("Roboto/Roboto-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "Roboto-Bold";
    src: url("Roboto/Roboto-Bold.ttf") format("truetype");
  }
 
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
    /* background-position: center center; */

/* body{
    background-color: #1E2529;
    background-image: url(imgs/home.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#body-overlay{
    position: fixed;
    overflow-y: scroll;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
} */

#navbar{
    width: 100%;
    /* background-color: red; */
    padding: 5px;
    align-items: center;
    justify-content: space-between;
    /* justify-content: space-around; */
    position: relative;
}
#logo{
    height: 118px;
    width: 181px;
    background-image: url(imgs/logo.svg);
    cursor: pointer;
}
.primary-navigation{
    margin-right: 20px;
    gap: 30px;
    align-items: center;
    /* position: relative; */
}

.navlink{
    font-family: "Roboto-Light";
    color: #FFFFFF;
    text-decoration: none;
    transition:  ease-in-out .3s;
}

.navPipe{
    font-size: 48px;
    text-decoration: none;
    color: #FFFFFF;

}
.navlink:hover{
    color: #53D6D7;
}

/* #homeContent{
    width: 100%;
    align-items: center;
    flex-direction: column;
}
.homePageTitleDiv{
    padding-top: 3em;
    font-size: 1.875em;
    background-color: "green";
}
.homePageTitle{
    word-spacing: .3125em;
    font-family: "Roboto-Regular";
    color: #FFFFFF;
}
.homePageCopyDiv{
    margin-top: 2.5em;
    color: #FFFFFF;
    gap: 40px;
    position: relative;
}
.circle{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #53D6D7;
    position: absolute;
    top: 22px;
}
.circle1{
    left: 208px;
    
}
.circle2{
    right: 160px;
    
}
@keyframes copyanimation {
    from {color:#FFE02C;}
    to {color: #FFFFFF;}
  }
.copy{
    font-family: "Roboto-Bold";
    font-size: 3em;
    animation-timing-function: ease-in-out;
    animation: copyanimation 3s infinite;
}

#QUALITY{

}
#EFFICIENCY{
    animation-delay: 4s;
}
#SPEED{
    animation-delay: 2s;
}

.homePageBtnsDiv{
    margin-top: 6em;
    width: 70%;
    justify-content: center;
    gap: 8em;
}

.homeBtnDiv{
    cursor: pointer;
    justify-content: center;
    align-items: center;
    height: 2.5em;
    width: 11.625em;
    border-radius: 0.5em;
    background-color: #53D6D7;
    font-family: "Roboto-Medium";
    font-size: 1.25em;
    text-align: center;
    color: #1E1E1E;
    transition:  ease-in .4s;
}
.homeBtnDiv:hover{
    opacity: .8;
    color: #000;
}

.partnersTitle{
    font-family: "Roboto-Regular";
    word-spacing: .3125em;
    font-size: 1.5em;
    color: #FFFFFF;
    margin-top: 2em;
}
#partners{
    margin-top: 2em;
    width: 80%;
    height: 11.5em;
    background: rgba(217, 217, 217, 0.33);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    border-radius: 1.25em;
    align-items: center;
    overflow: hidden;
}
.clients {
    background-color: #FFE02C;
    white-space: nowrap;
    animation: slide 30s linear infinite;
    padding: 20px;
  }
  @keyframes slide {
    from {
      transform: translate3d(0, 0, 0);
    }
    to {
      transform: translate3d(-100%, 0, 0);
    }
  }


  .client {
    display: inline-block;
    height: 100px; 
    width: 200px;
    background-color: brown;
    margin: 0 20px;
    font-size: 80px;
    padding: 10px;
  } */
.footerDiv{
    gap: 20px;
    margin-top: 3em;
    align-items: center;
}
.footer{
    font-family: "Roboto-Light";
    color: #FFFFFF;
    text-decoration: none;
}
.footerPipe{
    font-size: 2.125em;
    /* display: none; */
}

/* ----------------------------------------------- */
.mobile-nav-toggle{
	display: none;
}
.sr-only{
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}
@media(max-width: 62em){
    .navPipe{
        display: none;
    }
    .primary-navigation{
      background: #1E2529;
      position: fixed;
      z-index: 1000;
      inset: 0 0 0 30%;
      flex-direction: column;
      padding: min(20vh, 8rem) 2em;
      --gap:2em;
      transform: translateX(100%);
      transition: transform 350ms ease-out;
    }

    .primary-navigation[data-visible="true"]{
      transform: translateX(0%);

    }
    .mobile-nav-toggle{
        display: block;
        position: absolute;
        z-index: 9999;
        background-color: transparent;
        background-image: url("imgs/menu.svg");
        background-repeat: no-repeat;
        border: 0;
        width: 3.6875rem;
        aspect-ratio: 1;
        top:2rem;
        right: 3rem;
    }

    .mobile-nav-toggle[aria-expanded="true"]{
        background-image: url("imgs/close.svg");
    }
}
/* ----------------------------------------------- */

.flex{
    display: flex;
}